<section class="card">
  <a href="/cars/{{id}}">
    <header>{{cars.make}} {{cars.model}}</header>
    <img src="/images/{{cars.[0].filename}}" alt="{{cars.[0].make}} {{cars.[0].model}}">
  </a>
</section>
