<section class="cars">
  <img src="/images/{{cars.filename}}" alt="{{cars.make}} {{cars.model}}">
  <div class="car-details">
    <h3>{{cars.make}} {{cars.model}}</h3>
    <p>{{cars.year}}</p>
    <p>{{cars.mileage}}</p>
    <p>{{cars.price}}</p>
    <p>{{cars.condition}}</p>
  </div>
</section>